In [1]:
#Import dependencies
import pandas as pd

In [2]:
#File paths to csv
schools = "Resources/schools_complete.csv"
students = "Resources/students_complete.csv"

In [3]:
#Load csv files
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)
#schools_df.head()
#students_df.head()

In [4]:
#Merge csv files
merged_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
merged_df.head()
#merged_df.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#Create District Summary
total_schools = len(pd.unique(merged_df["school_name"]))
#schools

total_students = len(merged_df["student_name"])
#student

total_budget = sum(pd.unique(merged_df["budget"]))
total_budget = "${:,.2f}".format(total_budget)
#total_budget

average_math = merged_df["math_score"].mean()
#average_math

average_read = merged_df["reading_score"].mean()
#average_read

passing_math_raw = merged_df["math_score"].gt(69)
#passing_math.sum()
passing_math = passing_math_raw.sum()/total_students
#passing_math

passing_read_raw = merged_df["reading_score"].gt(69)
#passing_read.sum()
passing_read = passing_read_raw.sum()/total_students
#passing_read

overall_pass_raw = merged_df["math_score"].gt(69) & merged_df["reading_score"].gt(69)
#overall_pass_raw.sum()
overall_pass = overall_pass_raw.sum()/total_students
#overall_pass

In [6]:
#Create the actual DataFrame
district_sum = [{
    "Total Schools" : total_schools ,
    "Total Students" : total_students ,
    "Total Budget" : total_budget ,
    "Average Math Score" : average_math ,
    "Average Reading Score" : average_read ,
    "% Passing Math" : passing_math ,
    "% Passing Reading" : passing_read ,
    "% Overall Passing" : overall_pass
}]
district_df = pd.DataFrame(district_sum)
district_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,0.749809,0.858055,0.651723

In [7]:
#Create School Summary
merged_df.rename(columns = {"school_name" : "School Name"},inplace = True)

school_raw = merged_df.groupby("School Name")
#school_raw.max()

school_type = school_raw["type"].max()
#school_type

school_students = school_raw["student_name"].count()
#school_students

school_budget = school_raw["budget"].max()
#school_budget

average_budget = school_budget/school_students
#average_budget

school_math_avg = school_raw["math_score"].mean()
#school_math_avg

school_read_avg = school_raw["reading_score"].mean()
#school_read_avg

school_passing_math_raw = merged_df[merged_df["math_score"] >= 70].groupby("School Name")["math_score"].count()
school_passing_math = (school_passing_math_raw/school_students) * 100
#school_passing_math_raw

school_passing_read_raw = merged_df[merged_df["reading_score"] >= 70].groupby("School Name")["reading_score"].count()
school_passing_read = (school_passing_read_raw/school_students) * 100
#school_passing_read_raw

overall_pass_school_raw = merged_df[merged_df["math_score"] >= 70].groupby("School Name")["math_score"].count() & merged_df[merged_df["reading_score"] >= 70].groupby("School Name")["reading_score"].count()
overall_pass_school = (overall_pass_school_raw/school_students) * 100
#overall_pass_school

In [8]:
#Create School DataFrame
school_df = pd.DataFrame(school_type)
school_df["Total Students"] = school_students
school_df["Total Budget"] = school_budget
school_df["Average Budget per Kid"] = average_budget
school_df["Average Math Score"] = school_math_avg
school_df["Average Reading Score"] = school_read_avg
school_df["% Passing Math"] = school_passing_math
school_df["% Passing Reading"] = school_passing_read
school_df["% Overall Passing"] = overall_pass_school
school_df.rename(columns = {"type" : "School Type"}, inplace = True)
school_df.head(15)

,School Type,Total Students,Total Budget,Average Budget per Kid,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.318328
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,82.723358
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,8.952187
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,2.774735
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,88.419619
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,66.364617
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,92.505855
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,11.107302
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,64.713296
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,94.178794
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,51.412853
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,88.131743
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,65.871560
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.932983
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,92.444444

In [9]:
school_df.sort_values(by="% Overall Passing")

,School Type,Total Students,Total Budget,Average Budget per Kid,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,2.774735
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,8.952187
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,11.107302
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,51.412853
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,64.713296
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,65.871560
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.318328
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,66.364617
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,82.723358
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,88.131743
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,88.419619
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.932983
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,92.444444
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,92.505855
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,94.178794